/*Add CSS styles here*/
.counties {
    fill: #ad26d2;
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.states {
    fill: #efefef;
    stroke: #8f8888;
    stroke-width: 2px;
}

